<header>
    <h1>Current Weather Forecast: {{dataX.name}}</h1>
</header>
<a id="returnButton" href="/">Search for a new forecast</a>
<main>
    <div id="div1">
        <h2>{{dataX.name}}</h2>
        <p>{{dataX.weather[0].main}}</p>
        <h3>{{dataX.main.temp | round(0)}}&deg</h3>
        <img src="http://openweathermap.org/img/wn/{{dataX.weather[0].icon}}@2x.png">
    </div>
    <div id="div2">
        <p>Description: <strong>{{dataX.weather[0].description}}</strong></p>
        <p>Feels like: <strong>{{dataX.main.feels_like | round(0)}}&deg</strong></p>
        <p>Todays Min: <strong>{{dataX.main.temp_min | round(0)}}&deg</strong></p>
        <p>Todays Max: <strong>{{dataX.main.temp_max | round(0)}}&deg</strong></p>
        <p>Pressure: <strong>{{(dataX.main.pressure * 0.02953) | round(2)}} inHg</strong></p>
        <p>Humidity: <strong>{{dataX.main.humidity}}%</strong></p>
    </div>
</main>
<footer>
    <p>Copyright &copy 2022</p>
</footer>